section.admin
  .form
  	column 7
	input, .url, .bio
	  width 400px
	.url
	  height 100px
	.bio
	  height 200px
  .blurb
    width 100%
    height 300px
  .errors
    column 5
    b
      display block
      color #12E022