section.artists, section.sets
  .artist, .set
    width 150px
    height 150px
    background-size cover
    float left
    margin-right 3px
    cursor pointer
    position relative
	.name
	  position absolute
	  bottom 0
	  width 150px
	  padding 7px
	  background-color rgba(0,0,0,0.7)
	  font-weight bold

section.artist, section.set
  img
    width 200px
    float left
  .bio
    float left
    margin-left 20px
    width calc(100% - 220px)