<link rel="shortcut icon" href="/img/favicon.ico" />
<title>JM:ADMIN</title>
<!-- CSS -->
<link href='http://fonts.googleapis.com/css?family=Raleway:600,500,300,700,400,200' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/app.css">

<script src="/libs/angular/angular.min.js"></script>
<script src="/libs/angular-sanitize/angular-sanitize.min.js"></script>

<script src="js/app.js"></script>
<script src="js/directives/Navigation.js"></script>
<script src="js/controllers/Artists.js"></script>

<div ng-app="app">
<div class="container" ng-controller="Artists" ng-show="loaded">
		<navigation></navigation>
		<div class="line"></div>
			<section class="admin"> 
				<div class="form">
					New artist:<br>
					<input placeholder="Name.." ng-model="newArtist.name">
					<input placeholder="Image URL.." ng-model="newArtist.imageUrl">
					<textarea placeholder="Bio.." ng-model="newArtist.bio" class="bio"></textarea>
					<button ng-click="createArtist()">Save</button>
				</div>
				<div class="errors">
					<b ng-repeat="error in errors">{{error}}</b>
				</div>
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="artist in artists">
							<td>
								<a ng-click="artist.editingName=true" ng-hide="artist.editingName">
									{{artist.name}}
								</a>
								<form ng-submit="updateArtist($index)" ng-show="artist.editingName">
									<input ng-model="artist.name">
								</form>
							</td>
							<td><a ng-click="removeArtist($index)">✖</a></td>
						</tr>
					</tbody>
				</table>
			</section>
	</div>
</div>
