<section class="admin">
	<div class="form">
		New artist:<br>
		<input placeholder="Name.." ng-model="newArtist.name">
		<input placeholder="Image URL.." ng-model="newArtist.imageUrl">
		<textarea placeholder="Bio.." ng-model="newArtist.bio" class="bio"></textarea>
		<button ng-click="createArtist()">Save</button>
	</div>
	<div class="errors">
		<b ng-repeat="error in errors">{{error}}</b>
	</div>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="artist in artists">
				<td>{{artist.name}}</td>
				<td><a ng-click="removeTune($index)">✖</a></td>
			</tr>
		</tbody>
	</table>
</section>