<section class="admin">
	<div class="form">
		New tune:<br>
		<input placeholder="Name.." ng-model="newTune.name">
		<input placeholder="By.." ng-model="newTune.by">
		<textarea placeholder="Paste embed code here.." ng-model="newTune.embedCode" class="url"></textarea>
		<button ng-click="createTune()">Save</button>
	</div>
	<div class="errors">
		<b ng-repeat="error in errors">{{error}}</b>
	</div>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tune in tunes">
				<td>{{tune.name}}</td>
				<td>{{tune.by}}</td>
				<td><a ng-click="removeTune($index)">✖</a></td>
			</tr>
		</tbody>
	</table>
</section>